
body, html {
    height: 100%;
}

.parallax { 
    /* The image used */
    background-image: url("../image/passport.jpg");

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.app_container {
	height: 1600px;
  text-align: center;
  padding: 100px;
	background-color: wihte;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: rgba(255,255,255,0.1);
  color: #fff;
  padding: 80px;
  font-size: 50px;
}
